   /* activity example */
 
 /*.hero img {
    width: 100%;
    height: auto;
  }

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
*/

  /* second option: Container styling for centering 
  and Image responsive scaling */
.hero {
    max-width: 1500px;
    margin: 0 auto;
}


.hero img {
    width: 100%;
    height: auto;
}