:root {
  --color1: #fffab3;
  --color2: #a2e5d2;
  --color3: #63b397;
  --color4: #16271c;
  --color5: #2c2321;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color1);
  color: var(--color5);
  margin: 0;
}

header {
  background-color: var(--color2);
  text-align: center;
  padding: 1rem;
}

h1, h2 {
  color: var(--color4);
}

form {
  background-color: var(--color4);
  padding: 1rem;
  border-radius: 8px;
}

fieldset {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid var(--color5);
  border-radius: 6px;
  background-color: var(--color2);
}

div {
  font-weight: bold;
  color: var(--color4);
}

label {
  display: block;
  margin-top: 1rem;
}

input, textarea, select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 6px;
  border: 1px solid var(--color5);
}

input[type="submit"], button {
  background-color: var(--color3);
  color: black;
  padding: 0.75rem;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover, button:hover {
  background-color: var(--color2);
}

/* Media Queries */
@media (min-width: 35rem) {
  form {
    padding: 2rem;
  }
}

@media (min-width: 64rem) {
  main {
    max-width: 64rem;
    margin: auto;
  }
}
