
:root {

  --color1: #fffab3; 
  --color2: #a2e5d2; 
  --color3: #63b397;
  --color4: #16271c;
  --color5: #2c2321;

}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color5); 
  background-color: var(--color1); 
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  color: var(--color4); 
}

a {
  color: var(--color3);
  text-decoration: none;
}

a:hover {
  color: var(--color2); /
}


section {
  padding: 20px;
  background-color: var(--color2); 
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


button {
  background-color: var(--color3); 
  color: var(--color1); 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

button:hover {
  background-color: var(--color4); 
}


nav {
  background-color: var(--color5); 
  color: var(--color1);
  padding: 10px;
}

nav a {
  margin-right: 15px;
  color: var(--color1);
}

nav a.active {
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: var(--color5); 
  color: var(--color1);
}
