h1 {
    text-align: center;
}

main, footer {
    margin: 0 auto;
    width: 480px;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    background: #000
    /*animation: fade 15s;
}

@heyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }*/
}