/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Basic Styles */
h1 {
    text-align: center;
}
p {
    text-align: center;
    font-size: smaller;
}

/* CSS Grid Layout for Page Structure */
body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 300px 1fr 300px;
}

/* Header and Footer */
header {
    background: lightpink;
    padding: 2rem;
    grid-column: 1 / 4;
}
footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}

/* Sidebars and Main Content */
.left-sidebar {
    background: lightblue;
    grid-column: 1 / 2;
    padding: 1rem;
}
.right-sidebar {
    background: yellow;
    grid-column: 3 / 4;
    padding: 1rem;
}
main {
    background: coral;
    grid-column: 2 / 3;
    padding: 1rem;
}

/* Flexbox Navigation */
.navigation {
    display: flex;
    background-color: #333;
    justify-content: space-around;
    list-style: none;
}
.navigation a {
    color: #eee;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}
.navigation a:hover {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: yellow;
}